# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=00000
DB_DATABASE=Collab_PMS

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Frontend URL
FRONTEND_URL=http://localhost:3000

# JWT_SECRET
JWT_SECRET=7ve8Q~FvZzt7Gwk8lULk0K799ieBbopnpgG2bcD2