.boardColumns {
  align-items: flex-start;

  .boardColumn {
  width: 260px;
  background: #f4f5f7;
  border-radius: 8px;
  padding: 16px;
  min-height: 140px;
  position: relative;
  max-height: calc(100vh - 270px); 
  display: flex;
  flex-direction: column;

  &:hover .createTask {
    opacity: 1;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 8px;
    padding: 8px;
  }
}

  .columnTitle {
    font-size: 13px;
    font-weight: 700;
    color: #6b6f76;
    margin-bottom: 8px;
    flex-shrink: 0; 
  }

  .taskList {
    overflow-y: auto;  
    flex: 1;
    min-height: 0;
    scrollbar-width: none;

    .createTask {
    margin-top: 8px;
    cursor: pointer;
    color: #555;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0;
    transition: 0.2s;
  }

  .alwaysShow {
    opacity: 1 !important;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 8px;
    padding: 8px;
  }
  }

}

