// === Base Colors ===
$color-primary: #004f76;
$color-secondary: #1890ff;
$color-success: #52c41a;
$color-error: #8b0000;
$color-warning: #faad14;

// === Text Colors ===
$text-color-base: #09090b;
$color-text-secondary: #595959;
$color-white: #ffffff;

// === Background ===
$color-bg: #f5f5f5;
$color-bg-dark: #141414;

// === Border ===
$border-radius: 4px;

// === Font ===
$font-size-base: 14px;
$font-size-label: 15px;
$font-size-navigator: 16px;
$font-size-title: 24px;
$font-family-base: "Roboto", sans-serif;
$font-weight-base: 700;
$border-radius: 4px;
$border-radius-button: 0.5em;
